
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: red;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;

}
main{}
.contenitori-header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
}
ul {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    padding: 20px;
    list-style: none;
}
li {
    padding-left: 20px;
    background-color: white;
}
.bg-main{
    background-color: aqua;
    width: 100%;
    height: 400px;
}
.container{
    display: flex;
    max-width: 1170px;
    margin: auto;
    margin-top: 80px;
}
.dx{
    background-color: blue;
    width: 40%;
    height: 300px;
    margin-top: 100px;
}
.sx{
    background-color: blueviolet;
    width: 60%;
    height: 300px;
   margin-top: 100px;
}

.colonne{
    display: flex;
    width: 100%;
    padding: 20px;
    padding-top: 200px;

}
.col{
    width: calc(100% / 3);
    padding: 20px;
    padding-bottom: 60px;
    margin: 5px;
    background-color: black;
    height: 700px;
}
section{
    max-width: 1170px;
    margin: auto;
    padding: 20px;
}

.col4{
    width:1170px;
    margin: auto;
    height: 200px;
    background-color: black;
   
}
.cont{
    
    display: flex;

}
.foto{
    background-color: blueviolet;
    width: 60%;
    height: 500px;

}
.text{
    background-color: blue;
    width: 40%;
    height: 500px;
    


}
.clienti1{
    width: 100vw;
    height: 400px;
    display: flex;
    background-color: aqua;
   

}

.quad-grandi1{
    display: flex;
    width: calc(100% / 3);
    height: 400px;

}
.quad-grandi2{
    display: flex;
    height: 400px;
    width: calc(100% / 3);
    background-color: aliceblue;
    

}
.quad-grandi3{
    display: flex;
    height: 400px;
    width: calc(100% / 3);

}

.quad-piccoli1{
    width: calc(100% / 2);
    height: calc(100% / 2);
    height: 50%;
    background-color: burlywood;
}
.quad-piccoli2{
    width: calc(100% / 2);
    height: calc(100% / 2);
    height: 50%;
    background-color: rgb(210, 30, 93);

}
.bg-col4{
    background-color: aquamarine;
    padding: 20px;
    
}

footer{
    background-color: black;
   width: 100vw;
    height: 400px;
    padding: 40px;
}
.footer-container{
    background-color: aqua;
    height: 300px;
    max-width: 1170px;
    margin: auto;
    display: flex;
}

.colonna {
    width: calc(100% / 5);
    border: dashed 2px;
    height: 100%;
}